.ForecastPage {
  background-color: #0f0f0f;
  transition: 0.2s all;
  text-align: center;
  color: white;
  .LoadingComponent,
  .ErrorComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 100vh;
    .responseIcon {
      width: 50px;
      margin-top: 1rem;
    }
  }
  .LoadingComponent {
    @keyframes rotationLoading {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
    .responseIcon {
      animation: rotationLoading 1s infinite linear;
    }
  }
  button {
    position: absolute;
    background: none;
    border: 0;
    color: white;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 1;
    svg {
      width: 30px;
    }
  }

  .city {
    text-align: center;
    color: white;
    height: 100vh;
    overflow: hidden;
    display: flex;
    .container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    transition: background-color 1000ms linear;
    &.code-1000,
    &[condition^="10"] {
      // Sunny
      background: rgb(59, 161, 181);
      background: linear-gradient(
        0deg,
        rgba(59, 161, 181, 1) 0%,
        rgba(87, 203, 220, 1) 100%
      );

      .Weather_icon {
        filter: brightness(0) invert(1);
      }
    }
    &.code-1063,
    &[condition^="11"] {
      // Rainy
      background: #3c4353;
      background: linear-gradient(0deg, #3c4353 0%, #616978 100%);
    }
    &.code-1063,
    &[condition^="12"] {
      // Snowy
      background: #3c4353;
      color: #0f0f0f;
      background: linear-gradient(0deg, #a6a6a6 0%, #e0e0e0 100%);
      svg {
        color: #000;
      }
    }

    @mixin rowLayout {
      display: flex;
      justify-content: space-between;
      column-gap: 1rem;
      row-gap: 10px;
      margin: 1rem 0;
      @media screen and (min-width: 768px) {
        column-gap: 2rem;
      }
      @media screen and (max-width: 320px) {
        flex-wrap: wrap;
        justify-content: center;
        > div {
          width: calc(50% - 1rem);
        }
      }
    }

    &-name {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 4px;
      margin-bottom: 5px;
    }
    &-condition {
      margin-bottom: 1rem;
      font-weight: 100;
      font-size: 1.25rem;
      text-transform: lowercase;
    }
    &-Icon {
      width: 7rem;
      margin: 2rem 0 1rem 0;
      height: auto;
      align-items: center;
    }
    &-currentDay {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "Current Current celcius"
        "Current Current max"
        "Current Current min";
      &--Maxtemp,
      &--Mintemp {
        display: flex;
        justify-content: left;
        align-items: center;
        height: 30px;
        svg {
          width: 17px;
          opacity: 0.5;
        }
      }
      &--temp {
        grid-area: Current;
        font-size: 110px;
      }
      &--celcius {
        grid-area: celcius;
        text-align: left;
        font-size: 25px;
        justify-content: center;
        align-items: initial;
        display: flex;
        margin-top: 10px;
        span{
          font-size: 12px;
        }
      }
      &--Maxtemp {
        grid-area: max;
        margin-top: 8px;
        svg {
          transform: rotate(90deg);
        }
      }
      &--Mintemp {
        grid-area: min;
        margin-top: -10px;
        svg {
          transform: rotate(-90deg);
        }
      }
    }
    &-timesCondition {
      @include rowLayout();
      &--item{
        &_name {
          text-transform: lowercase;
          margin-bottom: 10px;
        }
        &_icon {
          margin-bottom: 9px;
          height: 64px;
        }
        &_value{
          font-size: 23px;
          font-weight: 300;
          display: flex;
          justify-content: center;
          span{
            font-size: 12px;
          }
        }
      }
    }
    &-others {
      @include rowLayout();
      &--item{
        &_name {
          text-transform: lowercase;
          margin-bottom: 10px;
          opacity: 0.75;
        }
        &_icon {
          margin-bottom: 9px;
        }
        position: relative;
        &:not(:last-child):before{
          content: '';
          position: absolute;
          height: 25px;
          width: 1px;
          background: white;
          right: -15px;
          opacity: 0.5;
          top: 9px;
        }

      }
    }
  }
}
